## Exercício Inglês 02

In [18]:
import pandas as pd
import numpy as np

d = {
    'Name': [
        'João das Neves',
        'Daniela Targaryen',
        'Luke Caminhante do Céu',
        'Carolina Coralina',
        np.nan
    ],
    'ID': [1111,np.nan, 3333, 4444, 555],
    'Type': [np.nan, 'Doctorate', np.nan, 'MSc', 'Doctorate'],
    'Mean Grade': [8.0, np.nan, 8.0, 9.8, 9.9]
}
data = pd.DataFrame(d)
data

                     Name      ID       Type  Mean Grade
0          João das Neves  1111.0        NaN         8.0
1       Daniela Targaryen     NaN  Doctorate         NaN
2  Luke Caminhante do Céu  3333.0        NaN         8.0
3       Carolina Coralina  4444.0        MSc         9.8
4                     NaN   555.0  Doctorate         9.9

In [24]:
#new_data = data.dropna(axis=0, how='any', subset=['ID', 'Type', 'Mean Grade'])
#new_data = data.dropna(how='all', subset=['ID', 'Type', 'Mean Grade'])
#new_data = data.dropna(axis=1, subset=['ID', 'Type', 'Mean Grade'])
#new_data = data.dropna(axis=1, how='all')
new_data = data.dropna()
new_data

                Name      ID Type  Mean Grade
3  Carolina Coralina  4444.0  MSc         9.8

## Exercício Inglês 03

In [41]:
Pop = 1e6

vaccinated = 99e4
vaccinated_reaction = 99e2
vaccinated_reaction_died = 99

notvaccinated = 1e4
notvaccinated_smallpox = 200
notvaccinated_smallpox_died = 40

In [50]:
#P = vaccinated_reaction_died / vaccinated
#P = notvaccinated_smallpox_died / notvaccinated

# I
PI = vaccinated_reaction / vaccinated
print("P(I) = {:.2%}".format(PI))

PII = notvaccinated_smallpox / notvaccinated
print("P(II) = {:.2%}".format(PII))

PIII = notvaccinated_smallpox_died / notvaccinated_smallpox
print("P(III) = {:.2%}".format(PIII))

P(I) = 1.00%
P(II) = 2.00%
P(III) = 20.00%